mixin available()
    .bg-green-800.bg-opacity-50.rounded-full.border.border-emerald-400.border-2.text-center.w-6.h-6

mixin generic()
    .bg-purple-800.bg-opacity-50.rounded-full.border.border-indigo-400.border-2.text-center.w-6.h-6
        iconify-icon.text-purple-200(icon="material-symbols:magic-exchange-rounded")

mixin distinct()
    .bg-sky-800.bg-opacity-50.rounded-full.border.border-teal-400.border-2.text-center.w-6.h-6
        iconify-icon.text-sky-200(icon="mdi:shield-key")

mixin tdo()
    .bg-yellow-600.bg-opacity-50.rounded-full.border.border-amber-400.border-2.text-center.w-6.h-6
        iconify-icon.text-amber-200(icon="carbon:palm-tree")

.rounded.w-fit.bordered.pb-2.shadow-lg
    h3.text-center.text-white.text-2xl.p-2.bg-black.bg-opacity-50.rounded-t
        | Template Set
    .grid.grid-cols-7.m-2.p-2.gap-1
        each template in template_set.day_templates.all
            if template.state == 'G'
                +generic()
            if template.state == 'D'
                +distinct()
            if template.state == 'T'
                +tdo()
            if template.state == 'A'
                +available()
    a.text-xs.bordered.m-2(href="template-set/") Manage
