header
    nav.nav-top

        a.flexrow(href='/')
            img(src='/static/img/flowrate-logo-v0.6.png', alt='Flowrate Logo', class='logo', width='130px' height='150px')
            h2.text-2xl
                span.thin Flow
                span.bold Rate

        .flexcol
            a(href='/org/') Organization
